# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

/.github/dist/               @Calinou

/3d/voxel/                   @aaronfranke
/misc/matrix_transform/      @aaronfranke
/misc/2.5d/                  @aaronfranke
/mono/2.5d/                  @aaronfranke

/2d/physics_tests/           @pouleyKetchoupp
/3d/physics_tests/           @pouleyKetchoupp
