# Top-most EditorConfig file.
root = true

# Unix-style newlines with a newline ending every file.
[*.cs]
insert_final_newline = true
csharp_space_after_cast = false
indent_size = 4

[*.csproj]
indent_size = 2
