# "Silly Material" files written by the editor plugin.
# The example files already tracked by Git are not affected.
*.silly_mat_importable
*.silly_mat_importable.import
*.silly_mat_loadable
*.silly_mat_loadable.uid
*.tres
