# Godot 4+ specific ignores
.godot/

# Ignore our Android build folder, should be installed by user if needed
android/

# Ignore our OpenXR vendors add-on, should be installed by user if needed
addons/godotopenxrvendors
