# Godot 4+ specific ignores
.godot/
.editorconfig
/android/

# Ignore vendor plugin add on folder, should be installed by user if needed
addons/godotopenxrvendors/

# We do want to include editor presets, they are important for configuring standalone headsets
!export_presets.cfg
